

<body>
  <h1>Editing Book</h1>
  <%= form_with model:@book, url:"/todolists/#{@book.id}", local:true do |f| %>
  <form class="edit_book" id="edit_book_16546" action="/books/16546" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="42B5kjpmTV8Nb1QpyXM21ytWytnIe/uBelVIb5jmkk91DXeHxTcZf3e52jwELvNItgkYuqH6mOr7QMvPHAw42g==" />

    <div class="field">
      <label for="book_title">Title</label>

      <%= f.text_field :title %>
    </div>


    <div class="field">
      <label for="book_body">Body</label>

      <%= f.text_area :body %>
    </div>


    <%= f.submit 'Update Book' %>
  </form>
　<%end%>
  <a class="show_16546" href="/books/16546">Show</a> |
  <a class="back" href="/books">Back</a>

</body>

