 <% if flash[:createdflag] == true then %>
      <p>Book was successfully created.</p>
    <% end %>

    <p>
      <strong>Title:</strong>
      <%=@book.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%=@book.body %>
    </p>




    <a class="edit_16908" href="/books/<%= @book.id %>/edit">Edit</a> |
    <a class="back" href="/books">Back</a>